<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Yiqi Wang">
    <title>@ViewData["Title"] - MineCraft Bedrock Server Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" id="siteicon" asp-area="" asp-controller="Home" asp-action="Index"></a>
          
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <partial name="_LoginPartial" />
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="@((ViewContext.RouteData.Values["Action"] != null &&
                ViewContext.RouteData.Values["Action"].ToString() == "Index") ?
                "nav-link active" : "nav-link")"
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Index">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="@(ViewContext.RouteData.Values["Action"] != null &&
                 ViewContext.RouteData.Values["Action"].ToString() == "Statistics" ?
                 "nav-link active" : "nav-link")"
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Statistics">
                            <span data-feather="bar-chart-2"></span>
                            Statistics
                        </a>
                    </li>

                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Server</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="@(ViewContext.RouteData.Values["Action"] != null &&
                 ViewContext.RouteData.Values["Action"].ToString() == "Privacy" ?
                 "nav-link active" : "nav-link")"
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Privacy">
                            <span data-feather="activity"></span>
                            Status
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="@(ViewContext.RouteData.Values["Action"] != null &&
                 ViewContext.RouteData.Values["Action"].ToString() == "Privacy" ?
                  "nav-link active" : "nav-link")"
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Privacy">
                            <span data-feather="refresh-cw"></span>
                            Update
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="@(ViewContext.RouteData.Values["Action"] != null &&
                 ViewContext.RouteData.Values["Action"].ToString() == "Privacy" ?
                  "nav-link active" : "nav-link")"
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Privacy">
                            <span data-feather="sliders"></span>
                            Configuation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="@(ViewContext.RouteData.Values["Action"] != null &&
                 ViewContext.RouteData.Values["Action"].ToString() == "Privacy" ?
                  "nav-link active" : "nav-link")"
                           asp-area=""
                           asp-controller="Home"
                           asp-action="Privacy">
                            <span data-feather="unlock"></span>
                            Permissions
                        </a>
                    </li>
                </ul>
                @if (User.IsInRole("admin"))
                {
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Admin</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="@(ViewContext.RouteData.Values["Action"] != null &&
                                        ViewContext.RouteData.Values["Action"].ToString() == "Members" ?
                                        "nav-link active" : "nav-link")"
                               asp-area=""
                               asp-controller="Admin"
                               asp-action="Members">
                                <span data-feather="user"></span>
                                Members
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            @RenderBody()
        </main>
      </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
